@font-face {
  font-family: "Eoe_Zno_L";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_L.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Eoe_Zno_L", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

img {
  display: block;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

/*******/

.wrapper {
  width: 100%;
  height: 100vh;
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.weather_detail_information_container {
  position: absolute;
  z-index: 99;
  top: 0;
  width: 100%;
}

.weather_detail_information {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  text-align: center;
}

.weather_detail_information > li {
  display: flex;
  justify-content: center;
}

.weather_detail_item_title {
  font-size: 12px;
}

.weather_detail_item {
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 12px;
}

.weather_main_information_container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 11px;
}

.temperature_detail_information_container::before {
  display: block;
  margin-bottom: 3px;
  content: " ℃";
  font-size: 30px;
  font-weight: 700;
}

.current_temperature {
  margin-right: 5px;
  font-size: 68px;
}

.city {
  font-size: 15px;
  margin-bottom: 7px;
}

.weather_description {
  margin-bottom: 35px;
  font-size: 13px;
}

.weather_icon {
  width: 100px;
  height: auto;
}

/***weather forecast***/

.forecast_container {
  position: relative;
  bottom: -90px;
  width: 100%;
}

.forecast_list {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.forecast_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.forecast_list_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 25%;
  padding: 0 20px;
  text-align: center;
}

.forecast_list_item_hour {
  font-size: 13px;
}

.forecast_list_item_icon {
  width: 35px;
  margin-top: 15px;
}

.forecast_list_item_weather_main {
  margin: 5px 0;
  font-size: 12px;
  text-align: center;
  word-break: keep-all;
}

.forecast_list_item_temperature {
  margin-top: 15px;
  font-size: 13px;
}

@media screen and (min-width: 540px) {
  .forecast_list_item {
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .weather_detail_item_title,
  .weather_detail_item {
    font-size: 15px;
  }

  .temperature_detail_information_container::before {
    font-size: 36px;
  }

  .current_temperature {
    font-size: 82px;
  }

  .weather_main_information_container {
    font-size: 14px;
  }

  .weather_description {
    font-size: 15px;
  }

  /***forecast weather***/

  .forecast_container {
    bottom: -150px;
  }

  .forecast_list_item_hour,
  .forecast_list_item_temperature {
    font-size: 15px;
  }
  .forecast_list_item_icon {
    width: 45px;
  }

  .forecast_list_item_weather_main {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .forecast_container {
    bottom: -220px;
  }
}
